.search-results {
  padding: 20px;
}

.search-card {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
}

.search-card img {
  width: 250px;
  border-radius: 8px;
}

.search-card div {
  flex: 1;
}
